@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

p {
  word-wrap: break-word;
}

i {
  color: white;
}

textarea {
  resize: none;
}

.navbar-brand {
  font-size: 2rem;
}

.edit-btn,
.delete-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 1 !important;
}

.friends,
.friend-request {
  max-width: 250px;
}

.entry-form {
  max-width: 450px;
}

.btn-close:focus {
  border: none;
  border-color: none;
  box-shadow: none;
}

.title-gamer,
.title-hub {
  font-family: "Righteous", cursive;
}

.title-gamer {
  color: #00bc8c;
}

.sign-up-form {
  max-width: 350px;
}
