@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

p {
  word-wrap: break-word;
}

.minus-btn,
.delete-comment-btn,
.content {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.minus-btn:hover,
.plus-btn:hover {
  opacity: 1 !important;
}

.friends,
.friend-request {
  max-width: 250px;
}

.entry-form {
  max-width: 450px;
}

.delete-btn {
  top: -23px !important;
}

.btn-close:focus {
  border: none;
  border-color: none;
  box-shadow: none;
}

.title-gamer,
.title-hub {
  font-family: "Righteous", cursive;
  font-size: 2rem;
}

.title-gamer {
  color: #00bc8c;
}

.login-gamer,
.login-hub {
  font-family: "Righteous", cursive;
}

.login-gamer {
  color: #00bc8c;
}